In [1]:
## Question-1: Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [3]:
length = float(input("Enter the Length: "))
breadth =  float(input("Enter the Breadth: "))

if length == breadth:
    print("it is a Square")
else: 
    print("it is not a Square")

Enter the Length: 5
Enter the Breadth: 5
it is a Square

In [4]:
## Question-2: Take three integer values from the user and print the greatest among them.

In [1]:
value1 = float(input("Enter the first value: "))
value2 = float(input("Enter the second value: "))
value3 = float(input("Enter the third value: "))

values = [value1, value2, value3]

greatest_value = max(values)

print(f"The greatest value is {greatest_value}")

Enter the first value: 80
Enter the second value: 90
Enter the third value: 60
The greatest value is 90.0

In [2]:
# Different way

In [4]:
value1 = float(input("Enter the first value: "))
value2 = float(input("Enter the second value: "))
value3 = float(input("Enter the third value: "))

if value1 > value2 and value1 > value3:
    print(f"{value1} is the greatest value")
elif value2 > value1 and value2 > value3: 
    print(f"{value2} is the greatest value")
else: 
    print(f"{value3} is the greast value")

Enter the first value: 30
Enter the second value: 90
Enter the third value: 60
90.0 is the greatest value

In [5]:
## A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [8]:
attendance = float(input("Enter your attendance: "))

if attendance > 75:
    print("You are allowed to sit in the exam")
else: 
    print("Sorry you are not allowed to sit in the exam")

Enter your attendance: 74.5
Sorry you are not allowed to sit in the exam

In [ ]:
# A school has the following rules for the grading system:
# Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
# Now, Ask the user to enter marks and print the corresponding grade.

In [19]:
marks = float(input("Enter your marks: "))

if marks >= 90: 
    print("Your Grade is A+")
elif marks >= 80:
    print("Your grade is A")
elif marks >= 60: 
    print("Your grade is B")
elif marks >= 50:
    print("Your grade is C")
elif marks >= 45:
    print("Your grade is D")
elif marks >= 25:
    print("Your grade is E")
elif marks < 25:
    print("Sorry Your failed Your grade is F ")

Enter your marks: 22
Sorry Your failed Your grade is F

In [ ]:
# Print the following pattern using for and while loop.
# 1 2 3 4 5 6 7
# 1 2 3 4 5 6
# 1 2 3 4 5
# 1 2 3 4

In [23]:
for i in range(7, 0, -1):
    for j in range(1, i+1):
        print(j , end = " ")
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [25]:
i = 7
while i > 0:
    j = 1
    while j <= i:
        print(j, end=" ")
        j += 1
    print()
    i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [26]:
i = 7
while i > 0:
    j = 1
    while j <= i:
        print(j, end=" ")
        j += 1
    print()
    i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [28]:
for i in range (-100 , -9):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

In [1]:
## Write a program to sum all prime numbers within a range of 10 to 1000.

In [7]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1 ):
        if n % i == 0:
            return False
    return True 

sum_of_primes = 0
for i in range(10, 1001):
    if is_prime(i):
        sum_of_primes += i
        

print(f"The sum of all prime numbers within the range of 10 to 1000 is: {sum_of_primes}")

The sum of all prime numbers within the range of 10 to 1000 is: 76110

In [ ]:
n = 7

factorial = 1
for i in range(1, n+1):
    factorial *= i

print("The factorial of", n, "is:", factorial)

In [10]:
## Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1)

In [11]:
n = 7

factorial = 1
for i in range(1, n+1):
    factorial *= i
print(f"The factorial of {n} is {factorial}")

The factorial of 7 is 5040

In [15]:
## Reverse a given integer number (27956240710)

In [22]:
num = 27956240710

reversed_num = str(num)[::-1]

reversed_num = int(reversed_num)

print(f"Reversed number: {reversed_num}")

Reversed number: 1704265972

In [1]:
## Print the following pattern using for and while loop.
# # #
# # # #
# # #
# #

In [ ]:
# Using for loop
for i in range(1, 5):
    for j in range(1, 4):
        if i == 2 and j == 3:
            continue
        if i == 4 and j == 3:
            continue
        print("#", end=" ")
    print()

In [ ]:
# Using for loop

In [20]:
for i in range(1, 5):
    for j in range(1,4):
        if i == 3 and j == 4:
            continue
        if i == 4 and j == 3:
            continue
        print("#" , end= " ")
    print()

# # #
# # #
# # #
# #

In [8]:
# Using for loop
for i in range(1, 5):
    for j in range(1, 4):
        if i == 2 and j == 3:
            continue
        if i == 4 and j == 3:
            continue
        print("#", end=" ")
    print()

# # #
# #
# # #
# #

In [1]:
# Display the Fibonacci series of 15 elements using the for and while loop.

In [11]:
# Using For Loop

a = 0
b = 1

for i in range(15):
    print(a)
    
    a, b = b, a+b

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [9]:
# Using while Loop

In [14]:
x = 0

y = 1

i = 0

while i < 15:
    print(x)
    
    x,y = y, x+y
    
    i += 1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [3]:
# 12. Remove 2 and add 3 to the list and replace True with False.
# Li = [1,3,5, [2,3], True]
# Output = [1,3,5, [3,3], False]

In [4]:
my_list = [1 , 3 , 5 , [2 , 3] , True]

my_list[3].remove(2)
print(my_list)

my_list[3].append(3)
print(my_list)

my_list[my_list.index(True)] = False

print(my_list)

[1, 3, 5, [3], True]
[1, 3, 5, [3, 3], True]
[False, 3, 5, [3, 3], True]

In [28]:
my_list = [1,3,5, [2,3], True]

for i in range(len(my_list)):
    if my_list[i] == True:
        my_list[i] = False

print(my_list)

[False, 3, 5, [2, 3], False]

In [32]:
# Find the intersection (common) of two sets.
# S1 = {1,4,6,8}
# S2 = {True, 1,2,10}

In [33]:
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

intersection = S1.intersection(S2)

print(intersection)

{True}

In [38]:
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

# Using the intersection() method
intersection = set(S1) & set(S2)

print(intersection)

{True}

In [37]:
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

# Using the & operator
intersection = S1 & S2

print(intersection)

{True}

In [39]:
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

# Using the intersection() method
intersection = set(S1) & set(S2)

print(intersection)

{True}

In [40]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}

common = S1.intersection(S2)
common_set = set(common)
print(common_set)

{True}

In [44]:
# Input a list from the user then Remove duplicates from a list and create a set and find the max
# number. User_input = [1,9,3,4,5,200,54]

In [64]:
number = []

def create_list():
    for i in range(8):
        user_input = int(input("Enter 8 random number for creating a List: "))
        number.append(user_input)
        return number
    


print(number)

Enter 8 random number for creating a List: 99
[99]

In [66]:
def get_list_from_user():
  """Gets a list of numbers from the user."""
  list_of_numbers = []
  while True:
    number = input("Enter a number: ")
    if number == "":
      break
    list_of_numbers.append(int(number))
  return list_of_numbers

def remove_duplicates_from_list(list_of_numbers):
  """Removes duplicates from a list."""
  unique_numbers = set(list_of_numbers)
  return list(unique_numbers)

def create_set(list_of_numbers):
  """Creates a set from a list."""
  return set(list_of_numbers)

def find_max_number(list_of_numbers):
  """Finds the maximum number in a list."""
  max_number = max(list_of_numbers)
  return max_number

# Get a list of numbers from the user
list_of_numbers = get_list_from_user()

# Remove duplicates from the list
unique_numbers = remove_duplicates_from_list(list_of_numbers)

# Create a set from the list
set_of_numbers = create_set(unique_numbers)

# Find the maximum number in the set
max_number = find_max_number(set_of_numbers)

# Print the maximum number
print(f"The maximum number is: {max_number}, The Unique Numbers {unique_numbers} , and The Set of numbers {set_of_numbers}  ")

Enter a number: 88
Enter a number: 99
Enter a number: 54
Enter a number: 64
Enter a number: 45
Enter a number: 78
Enter a number:
The maximum number is: 99, The Unique Numbers [64, 99, 45, 78, 54, 88] , and The Set of numbers {64, 99, 45, 78, 54, 88}

In [73]:
# Function to take input from user and return the list

def get_input():
    n = int(input("Enter the length of your list: "))
    my_list = []
    for i in range(n): 
        li_ele = int(input("Enter your list element: "))
        my_list.append(li_ele)
    return my_list        
    
# Function to remove duplicates from a list and return the updated list

def remove_duplicates(my_list):
    return list(set(my_list))

# Function to create a set from the list and return the set

def create_set(my_list):
    return set(my_list)

# Function to find the maximum number in a set and return the maximum number

def find_max(my_set): 
    return max(my_set)


# Main function to call other functions

def main():
    my_list = get_input()
    unique_list = remove_duplicates(my_list)
    my_set = create_set(unique_list)
    max_num = find_max(my_set)
    print("List with duplicates removed: ", unique_list)
    print("Set created from the list: ", my_set)
    print("Maximum number in the set: ", max_num)
    
# Call the main function to run the program
main()

Enter the length of your list: 5
Enter your list element: 88
Enter your list element: 99
Enter your list element: 77
Enter your list element: 88
Enter your list element: 200
List with duplicates removed:  [88, 99, 77, 200]
Set created from the list:  {88, 99, 77, 200}
Maximum number in the set:  200

In [75]:
# Rename the key of a dictionary.
# Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
# Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [76]:
dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }

dict["region"] = dict.pop("country")

print(dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

In [77]:
# Creating a data frame using the list.
# num = [10,100,300] (column name is number)

In [78]:
import pandas as pd

In [79]:
num = [10,100,300]

df = pd.DataFrame(num , columns=["number"])

print(df)

   number
0      10
1     100
2     300

In [80]:
# Change the value of a key in a given dictionary.
# Write a Python program to change ‘age’ to 28 in the following dictionary.
# Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [82]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }

Dict["age"] = 28

print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}